*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
}
.header{
    top:0;
    position:fixed;
    width:100%;
    padding:1.5em 3em 0em 3em;
    display:flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    z-index:2;    
}
.header > .brandName{
    font-family: Calibri light;
    font-size: 1.8rem;
    font-weight: bolder; 
    padding-bottom: 0.5em;   
}
.header > .navigator{    
    flex: 0 1 30em;    
    display: flex;    
    justify-content: space-between;    
    align-items: center;    
    font-family: Calibri light;
    font-size: 1.2rem;
    font-weight: 500;
}
.navigator > .about{
    height:2.5em;
    padding-top:0.3em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;    
}
.navigator > .about > .navBar{
    width:100%;
    height:0.15em;    
}
.about:hover{
    cursor:pointer;
    font-weight: bolder;
    transition: .7s;
}
.about:hover > .navBar{
    background:rgb(243, 74, 74);
    transition: .7s;
}
.navigator > .logIn{
    height:2.5em;
    padding-top:0.3em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;    
}
.navigator > .logIn > .navBar{
    width:100%;
    height:0.15em;      
}
.logIn:hover{
    cursor:pointer;
    font-weight: bolder;
    transition: .7s;
}
.logIn:hover > .navBar{
    background:rgb(243, 74, 74);
    transition: .7s;
}